@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  --black: #252525;
  --white: #ffffff;
  --light-gray: #f9f9f9;
  --gray: #adadad;
  --pri-color: #FFFF00;
  --sec-color: #4e54c8;
  --sec-light-color: #8f94fb;
  color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}
